h1 {
  text-align: left;
  margin-top: 15px;
}

h2 {
  text-align: left;
  font-size: 24px;
  margin-top: 0px;
}

h3 {
  text-align: left;
  font-size: 24px;
}
h4 {
  text-align: left;
  font-size: 10px;
}

.search-form {
  text-align: right;
  margin-top: 30px;
}
